:root {
  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-terthiary-color: #000000;

  --button-primary-color: #8F0101;
  --button-secondary-color: #B81515;

  --text-primary-color:#222222;
  --text-secondary-color: #ffffff;
}