@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
  font-style: normal;
  font-display: swap;
}
:root {
  --primary-color: #8f0101;
  --secondary-color: #b81515;
  --background-primary-color: #ffffff;
  --background-secundary-color: #f5f5f5;
  --background-tertiary-color: #000000;

  --text-primary-color: #222222;
  --text-secondary-color: #ffffff;

  --title-weight: 700;
  --text-weight: 400;
  --menu-text-weight: 500;
}
