header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  width: 68px;
  height: 64px;
  display: inline-block;
}

.navigation__menu {
  margin-top: 16px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
}

.list__links {
  list-style: none;
}

.list__links li {
  margin: 16px 0;
}

.list__links li a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navigation__menu {
    margin-top: 0;
    width: 467px;
  }
  .navigation__menu label {
    display: none;
  }

  .navigation__menu nav {
    display: block;
  }

  .navigation__menu nav .list__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
  }
}
