.hero__img {
  background: url(../img/hero-mobile.jpg) no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .hero__img {
    background: url(../img/hero-tablet.jpg) no-repeat;
    background-size: cover;
    height: 620px;
    width: 100%;
  }
  @media screen and (min-width: 1024px) {
    .hero__img {
      background: url(../img/hero-desktop.png) no-repeat;
      background-size: cover;
      height: 620px;
      width: 100%;
    }
  }
}
